/*body {
  background: #348F50;
  background: -webkit-linear-gradient(to left, #348F50 , #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #348F50 , #56B4D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*}*/

/*#temp-data { /* this is the id for a div --> must go under body */
	/*box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	width: 350px;
	margin: 100px auto;
	background: #f7f7f7;
}*/

/*.weather-display {
  margin-left: 50%;
}*/

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  color: inherit;
}

#temp-data {
  /*padding-top: 10%;*/
  color: white;
  font-size: 2.0em;
  text-emphasis-color: black;
}

hr {
  width: 400px;
}

.main-section {
  color: gray;
  padding-top: 8%;
  text-emphasis-color: white;
}
